# Python
__pycache__/
*.py[cod]
venv/

# Dados temporários
input/
output/
csv/
*.tmp

# Imagens/dados brutos (exceto .jar)
*.tif
*.png
*.jpg

# Ambiente
.env
*.log

# EXCEÇÃO: Arquivos .jar são importantes e DEVEM ser versionados
!*.jar
